.settings {
  float: left;
  border: solid 2px #dddddd;
  background-color: #eeeeee;
  border-radius: 15px;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.settings h1 {
  text-align: center;
}

#chords {
  border: solid 1px black;
  float: left;
  margin: 10px;
  padding: 10px;
}

.chord-line {
  padding: 40px;
}

.chord {
  width: 150px;
  display: inline-block;
  font-size: 20pt;
}
